
#heading h1{
    text-align: center;
    font-size: 4.5vw;
    font-family: Adventure;
}

#pageArea {
    display: flex;
    flex-direction: column;
}

#flexArea {
    display: flex;
}

#items {
    width: 20vw;
}

#playArea {
    max-width: 60vw;
    height: 65vh;
}

#items {
  margin-left: 2vw;
  font-family: text-font;
  font-size: 1.3vw;
  color: darkgray;
}

#items .equiped {
  font-family: text-font;
  font-size: 1.3vw;
  color: black;
}

#inputArea #prompt {
    margin-left: 30vw;
    width: 40vw;
    height: 5vh;
    font-size: 2.3vh;
    font-family: text-font;
    font-style: bold;
    padding-left: 1vw;
    border-radius: 5px;
    border-style: solid;
}

#inputClone {
    position: absolute;
    margin-left: 30vw;
    width: 40vw;
    height: 5vh;
    font-size: 2.3vh;
    font-family: text-font;
    font-style: bold;
    padding-left: 1vw;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    color: darkgray;
}

@font-face {
    font-family: "Adventure";
    src: url("adventure.ttf") format("truetype");
}
@font-face {
    font-family: "text-font";
    src: url("OpenSans-SemiBold.ttf");
}

.fade-in-text {
    display: inline-block;
    font-family: text-font;
    font-size: 1.5vw;
    color: black;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
    animation: fadeIn linear 1s;
    tab-size: 8;
  }

  .fade-out-text {
    display: inline-block;
    font-family: text-font;
    font-size: 1.5vw;
    color: black;
    -webkit-animation: fadeOut linear 1s;
    -moz-animation: fadeOut linear 1s;
    -o-animation: fadeOut linear 1s;
    -ms-animation: fadeOut linear 1s;
    animation: fadeOut linear 1s;
    tab-size: 8;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-moz-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }

  @-webkit-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-o-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-ms-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }