:root {
    --background-color: #708090;
    --text-color: #2c2d2d;
    --border-color: #36454f;
    --accent-color: #6e7f80;
}

.page {
    display: flex;
    flex-direction: column ;
}

header {
    text-align: center;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

nav {
    background-color: var(--text-color);
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
}

nav a:hover {
    background-color: black;
}

nav a, nav a:visited {
    color: lightgrey;
    text-decoration: none;
    padding: 10px 40px;
}

.nav_currentpage {
    background-color: var(--border-color);
}

.content {
    display: flex;
    flex-direction: column ;
    margin-left: 25%;
    max-width: 50%;
}

.content h1 {
    font-size: 42px;
    margin-top: 40px;
    margin-left: 55px;
    margin-bottom: 10px;
}

.content h3 {
    margin-top: 20px;
    margin-bottom: 5px;
}

.content h4 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.content p {
    margin: 0px;
}

.indent {
    margin-left: 40px;
}

hr {
    width: 100%;
    text-align:left;
    border-color: var(--border-color);
    border-style: solid;
    margin: 1px 0px;
    padding: 0px;
}

footer hr {
    width: 100%;
    text-align:left;
    border-color: var(--border-color);
    border-style: solid;
    margin: 50px 0px;
}

footer {
    margin-left: 15%;
    max-width: 70%;
}

footer p {
    margin: 30px;
}

