:root {
    --background-color: #708090;
    --text-color: #2c2d2d;
    --border-color: #36454f;
    --accent-color: #6e7f80;
}

.page {
    display: flex;
    flex-direction: column ;
}

header {
    text-align: center;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

nav {
    background-color: var(--text-color);
    display: flex;
    flex-direction: row;
}

nav a:hover {
    background-color: black;
}

nav a, nav a:visited {
    color: lightgrey;
    text-decoration: none;
    padding: 10px 40px;
}

.nav_currentpage {
    background-color: var(--border-color);
}

.content {
    display: flex;
    flex-direction: column ;
    margin-left: 10%;
    padding-left: 20px;
    max-width: 70%;

}

